<h1>Fibonacci Calculator</h1>
        <p id="errorDiv" hidden></p>
        <form action="POST" id="myForm">
            <label for="formNumber">
                Enter Index Number
                <input type="number" name="index" id="formNumber" />
            </label>
            <button type="submit">Submit</button>
        </form>
        <ul id="results"></ul>
        <footer>Jose de la Cruz CWID: 10438133</footer>